# Port HTTP-server
PORT=21100
# Full URL connection to PG
DB_URL=postgres://user:pass@host:port/db
# Log level: debug | info | warn | error. Optional, default info
LOG_LEVEL=info
# Timeout of external calls. Optional, default 5000
TIMEOUT_MS=5000